.piano-title {
  font-size: 24px;
  font-weight: 600;
}

/* slider css */
.show-key-input {
  appearance: none;
  position: relative;
  width: 60px;
  height: 30px;
  background-color: #a5d8ff;
  border-radius: 25px;
  cursor: pointer;
}
.show-key-input::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 4%;
  transition: all 0.15s ease-in;
}
.show-key-input:checked::before {
  background-color: #4263eb;
  left: 55%;
}
